In [1]:
import pandas as pd

purchase_data_file = "purchase_data.csv"
purchase_data = pd.read_csv(purchase_data_file)

In [2]:
#Create a dataframe (purchase_data_df)
purchase_data_df = pd.DataFrame(purchase_data)
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [3]:
##'Player Count' data frame
#Total number of players - Players made more than one purchase = duplicates values 
total_players = len(purchase_data_df['SN'].unique())
total_players_df = pd.DataFrame ([{'Total Players':total_players}])
total_players_df

   Total Players
0            576

In [4]:
#Total number of unique items - Items purchased more than one time = duplicate values
total_items = len(purchase_data_df['Item Name'].unique())

In [5]:
#Total number of purchases = row length of dataframe
total_purchases = len(purchase_data_df)

In [6]:
#Total revenue = Sum of 'Price' column 
total_revenue = purchase_data_df['Price'].sum()

In [7]:
#Average price paid = mean of 'Price' column
average_price = purchase_data_df['Price'].mean()

In [8]:
##'Purchasing Analysis (Total) data frame'
purchasing_analysis_total_df = pd.DataFrame([{
    'Number of Unique Items':total_items,
'Average Price':average_price,
'Number of Purchases':total_purchases,
'Total Revenue':total_revenue}])

#format 'Average Price' and 'Total Revenue' values to currency
purchasing_analysis_total_df['Average Price'] = purchasing_analysis_total_df['Average Price'].map("${0:,.2f}".format)
purchasing_analysis_total_df['Total Revenue'] = purchasing_analysis_total_df['Total Revenue'].map("${0:,.2f}".format)
purchasing_analysis_total_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [9]:
#Unique values in 'Gender' column
unique_gender_values = purchase_data_df['Gender'].unique()
unique_gender_values

array(['Male', 'Other / Non-Disclosed', 'Female'], dtype=object)

In [42]:
##'Gender Demogrpahics' data frame
#Create a data frame ('gender_df') from 'SN' (players) column and 'Gender' column
gender_df = purchase_data_df[['SN','Gender']]
gender_df['Gender'].astype('string')

#Removed duplicate values from dataframe 'gender_df'
gender_df = gender_df.drop_duplicates()

#Rename value 'Other / Non-Disclosed' to 'Other'
gender_df = gender_df.replace({"Other / Non-Disclosed": "Other"})

In [11]:
#Create a data frame of just 'Male' values by filtering out 'gender_df' by 'Male' 
columns = ['SN', 'Gender']
male_df = gender_df.loc[gender_df['Gender'] == "Male", columns]

#total number of male players by counting length of 'Male' dataframe 
total_male = len(male_df)

In [12]:
#Create a data frame of just 'Female' values by filtering out 'gender_df' by 'Female' 
columns = ['SN', 'Gender']
female_df = gender_df.loc[gender_df['Gender'] == "Female", columns]

#total number of male players by counting length of 'Female' dataframe 
total_female = len(female_df)

In [13]:
#Create a data frame of just 'Other' values by filtering out 'gender_df' by 'Other' 
columns = ['SN', 'Gender']
other_df = gender_df.loc[gender_df['Gender'] == "Other", columns]

#total number of male players by counting length of 'Other' dataframe 
total_other = len(other_df)

In [14]:
#Percentages of player demographics
percent_male = total_male / total_players
percent_female = total_female / total_players
percent_other = total_other / total_players

In [15]:
#create 'Gender Demographics' data frame
gender_dem_df = pd.DataFrame({'Gender':['Male','Female','Other/Non-Disclosed'],
                              'Total Count':[total_male, total_female, total_other],
                             'Percentage of Players':[percent_male, percent_female, percent_other]})
gender_dem_df['Percentage of Players'] = gender_dem_df['Percentage of Players'].map("{:.2%}".format)
gender_dem_df = gender_dem_df.set_index(['Gender'])

gender_dem_df

                     Total Count Percentage of Players
Gender
Male                         484                84.03%
Female                        81                14.06%
Other/Non-Disclosed           11                 1.91%

In [85]:
##'Purhcase Analysis (Gender)'
#Create a data frame using 'purchase_data_df', set index to 'Gender', & only keep 'Price' values
purchase_analysis_gender_df = purchase_data_df.set_index('Gender')
price_analysis_gender_df = purchase_analysis_gender_df[['Price']]

In [86]:
#create a 'Total Purchase Value' data frame
purchase_analysis_gender_group = price_analysis_gender_df.groupby(['Gender'])
purchase_analysis_gender_tpv_df = purchase_analysis_gender_group.sum()

#rename 'Price' column to 'Total Purchase Value' & format values to currency
purchase_analysis_gender_tpv_df=purchase_analysis_gender_tpv_df.rename(columns={"Price":"Total Purchase Value"})
purchase_analysis_gender_tpv_df=purchase_analysis_gender_tpv_df['Total Purchase Value'].map("${0:,.2f}".format)

In [87]:
#create an 'Average Purhcase Price' data frame
purchase_analysis_gender_avg_df = purchase_analysis_gender_group.mean()

#rename 'Price' column to 'Average Purchase Price' & format values to currency
purchase_analysis_gender_avg_df = purchase_analysis_gender_avg_df.rename(columns={"Price":"Average Purchase Price"})
purchase_analysis_gender_avg_df = purchase_analysis_gender_avg_df['Average Purchase Price'].map("${:.2f}".format)

In [88]:
#create a 'Total Count of Purchases' data frame
purchase_analysis_gender_tcp_df = purchase_analysis_gender_group.count()

#rename 'Price' column to 'Purchase Count'
purchase_analysis_gender_tcp_df = purchase_analysis_gender_tcp_df.rename(columns={"Price":"Purchase Count"})

In [89]:
#create a 'Average Total Purchase Per Person' data frame
purchase_analysis_index_SN_df = purchase_data_df.set_index('Gender')
purchase_analysis_gender_avg_total_df = purchase_analysis_index_SN_df[['SN','Price']]
purchase_analysis_gender_avg_total_df = purchase_analysis_gender_avg_total_df.groupby(['Gender','SN']).sum()
purchase_analysis_gender_avg_total_df = purchase_analysis_gender_avg_total_df.groupby(['Gender']).mean()

#rename 'Price' column to 'Avg Total Purchase per Person' & format values to currency
purchase_analysis_gender_avg_total_df = purchase_analysis_gender_avg_total_df.rename(columns={"Price":"Avg Total Purchase per Person"})
purchase_analysis_gender_avg_total_df = purchase_analysis_gender_avg_total_df['Avg Total Purchase per Person'].map("${:.2f}".format)

In [90]:
#add data frames 'Total Purchase Value', 'Average Purchase Price', 'Total Count of Purchases', & 'Average Total Purchase per Person' to 'Purchase Analysis (Gender)' data frame - i.e. ('purchase_gender_df')
purchase_analysis_gender_tcp_df['Average Purchase Price'] = purchase_analysis_gender_avg_df
purchase_analysis_gender_tcp_df['Total Purchase Value'] = purchase_analysis_gender_tpv_df
purchase_analysis_gender_tcp_df['Avg Total Purchase per Person'] = purchase_analysis_gender_avg_total_df
purchase_gender_df = purchase_analysis_gender_tcp_df

purchase_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [22]:
##'Age Demographics'
#creat a data frame from 'purchase_data_df' of just 'Age' values
purchase_age_raw_df = purchase_data_df[['SN','Age']]
purchase_age_raw_df = purchase_age_raw_df.drop_duplicates()
del purchase_age_raw_df['SN']

#created bins and group names
bins = [0, 9, 14, 19, 24 , 29, 34, 39, 60]
group_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

#cut 'purchase_age_raw_df & create data frame 'purchase_age_df'
purchase_age_raw_df['Player Ages'] = pd.cut(purchase_age_raw_df['Age'], bins, labels=group_names, include_lowest=True)
purchase_age_dem_df = purchase_age_raw_df.groupby('Player Ages')
purchase_age_dem_df = purchase_age_dem_df.count()

#create 'Percentage of Players' column and format values to percentage
purchase_age_dem_df['Percentage of Players'] = (purchase_age_dem_df['Age']/total_players).map("{:.2%}".format)

#rename 'Age' column to 'Total Count'
purchase_age_dem_df = purchase_age_dem_df.rename(columns={"Age":"Total Count"})

purchase_age_dem_df

             Total Count Percentage of Players
Player Ages
<10                   17                 2.95%
10-14                 22                 3.82%
15-19                107                18.58%
20-24                258                44.79%
25-29                 77                13.37%
30-34                 52                 9.03%
35-39                 31                 5.38%
40+                   12                 2.08%

In [102]:
##'Purchase Analysis (Age)'
purchase_data_df['Player Ages'] = pd.cut(purchase_data_df['Age'], bins, labels=group_names, include_lowest=True)
purchase_analysis_age_raw_df = purchase_data_df[['Player Ages','Price']]
purchase_analysis_age_raw_df = purchase_analysis_age_raw_df.set_index('Player Ages')

In [103]:
#create data frame 'Total Purchase Count' = groupby 'Player Ages' and sum column 'Price'
purchase_analysis_age_df = purchase_analysis_age_raw_df.groupby(['Player Ages'])
purchase_analysis_age_tpc_df = pd.DataFrame(purchase_analysis_age_df.count())

#rename 'Price' column to 'Total Purchase Count'
purchase_analysis_age_tpc_df = purchase_analysis_age_tpc_df.rename(columns={"Price":"Total Purchase Count"})

In [104]:
#create data frame 'Average Purchase Price' = groupby 'Player Ages' and sum column 'Price'
purchase_analysis_age_avg_df = purchase_analysis_age_df.mean('Price')
purchase_analysis_age_avg_df = purchase_analysis_age_avg_df['Price'].map("${0:,.2f}".format)

In [105]:
#create data frame 'Total Purchase Value' = groupby 'Player Ages' and sum column 'Price'
purchase_analysis_age_tpv_df = purchase_analysis_age_df.sum('Price')
purchase_analysis_age_tpv_df = purchase_analysis_age_tpv_df['Price'].map("${0:,.2f}".format)

In [106]:
#create data frame 'Avg Total Purchase per Person'
purchase_analysis_age_atp_df = purchase_data_df[['Player Ages','SN','Price']]
purchase_analysis_age_atp_df = purchase_analysis_age_atp_df.groupby(['Player Ages', 'SN']).sum()
purchase_analysis_age_atp_df = purchase_analysis_age_atp_df.groupby(['Player Ages']).mean()
purchase_analysis_age_atp_df = purchase_analysis_age_atp_df['Price'].map("${0:,.2f}".format)

In [107]:
#add 'Average Purchase Price' and 'Total Purchase Value' data frame to 'Total Purchase Count' to create 'Purchase Analysis (Age) data frame - i.e. purchase_analysis_age_df'
purchase_analysis_age_tpc_df['Average Purchase Price'] = purchase_analysis_age_avg_df
purchase_analysis_age_tpc_df['Total Purchase Value'] = purchase_analysis_age_tpv_df
purchase_analysis_age_tpc_df['Avg Total Purchase per Person'] = purchase_analysis_age_atp_df
purchase_analysis_age_df = purchase_analysis_age_tpc_df

purchase_analysis_age_df

,Total Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Player Ages,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [91]:
##'Top Spenders' 
#create a data frame of 'SN' (players) column & ' Price' column from original purchse data ('purchase_data_df')
spenders_analysis_raw_df = pd.DataFrame(purchase_data_df[['SN', 'Price']])

#spenders groupby data frame from 'spenders_analysis_raw_df'
spenders_analysis_group = spenders_analysis_raw_df.groupby(['SN'])

In [92]:
#'Average Purchase Price' data frame for 'Top Spenders' data
spenders_analysis_group = spenders_analysis_raw_df.groupby(['SN'])
spenders_analysis_avg_df = spenders_analysis_group.mean()

#format values to currency
spenders_analysis_avg_df['Price'] = spenders_analysis_avg_df['Price'].map("${0:,.2f}".format)

In [93]:
#'Total Purchase Value' data frame from 'Top Spenders' data
spenders_analysis_tpv_df = spenders_analysis_group.sum()

#format values to currency
spenders_analysis_tpv_df['Price'] = spenders_analysis_tpv_df['Price'].map("${0:,.2f}".format)

In [94]:
#'Purchase Count' data frame from 'Top Spenders' data
spenders_analysis_total_df = spenders_analysis_group.count()

#rename 'Price' column to 'Purchase Count'
spenders_analysis_total_df = spenders_analysis_total_df.rename(columns={"Price":"Purchase Count"})

In [143]:
#create 'Top Spenders' data frame 
spenders_analysis_total_df['Average Purchase Price'] = spenders_analysis_avg_df
spenders_analysis_total_df['Total Purchase Value'] = spenders_analysis_tpv_df
spenders_analysis_df = spenders_analysis_total_df
spenders_analysis_df = spenders_analysis_df.sort_values(['Purchase Count','Average Purchase Price','Total Purchase Value'], ascending=False)

spenders_analysis_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Iral74                    4                  $3.40               $13.62
Chamjask73                3                  $4.61               $13.83
Iskadarya95               3                  $4.37               $13.10

In [138]:
##'Most Popular Items'
#create initial 'Most Popular Items' data frame
popular_items_data_df = purchase_data_df[['Item ID','Item Name','Price']]

In [139]:
#'Item Price' data frame for 'Most Popular Items'
popular_items_price_df = popular_items_data_df.groupby(['Item ID','Item Name']).mean()
popular_items_price_df = popular_items_price_df['Price'].map("${0:,.2f}".format)

In [140]:
#'Purchase Count' data frame for 'Most Popular Items'
popular_items_count_df = popular_items_data_df.groupby(['Item ID','Item Name']).count()
popular_items_count_df = popular_items_count_df.rename(columns={"Price":"Purchase Count"})

In [141]:
#'Total Purchase Value' data frame for 'Most Popular Items'
popular_items_tpv_df = popular_items_data_df.groupby(['Item ID','Item Name']).sum()
popular_items_tpv_df = popular_items_tpv_df['Price'].map("${0:,.2f}".format)

In [142]:
#create final data frame for 'Most Popular Items' in descending order
popular_items_count_df['Item Price'] = popular_items_price_df
popular_items_count_df['Total Purchase Value'] = popular_items_tpv_df
popular_items_df = popular_items_count_df
popular_items_df = popular_items_df.sort_values(['Purchase Count', 'Item Price', 'Total Purchase Value'], ascending=False)
popular_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77